.navbar-brand{
    color: #0ef;
    font-weight:900;
    font-size: 2rem;
}
.navbar-brand:hover{
  color: #0ef;
}
.navbar{
    background-color: black;
}
.contact:hover{
  color: #0ef;
}

.contact{
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    width: 150px;
}
@media (max-width: 800px){
  .contactbtn{
      position: relative;
      left: 28px;
  }
}
